[submodule "externals/zend-form-decorators-bootstrap"]
	path = externals/zend-form-decorators-bootstrap
	url = https://github.com/Emagister/zend-form-decorators-bootstrap.git
[submodule "externals/Glue"]
	path = externals/Glue
	url = https://github.com/aheinze/Glue.git
[submodule "externals/openerp-php-webservice-client"]
	path = externals/openerp-php-webservice-client
	url = https://github.com/idu-bogota/openerp-php-webservice-client.git
