<?php
$openerp_server = 'https://192.168.56.101/xmlrpc';
$username = 'admin';
$pwd = 'admin1';
$dbname = 'openerp-idu';
$attachment_path = '/var/www/images/';
$attachment_base_url = '/images/';
$categ_id = 1;
$classification_id = 2;
$sub_classification_id = 25;
$csp_id = 1;
$channel = 21;
