<?php
$openerp_server = 'https://192.168.56.101/xmlrpc';//URL al servidor OpenERP
$username = 'admin';//Usuario OpenERP
$pwd = 'admin1';//Clave usuario OpenERP
$dbname = 'openerp-idu';//Base de datos de OpenERP
$attachment_path = '/var/www/images/';//Verificar que el usuario del servidor web ie. www-data pueda escribir en este directorio
$attachment_base_url = '/images/';//URL relativa al directorio de imagenes adjuntas
$geocoding_service_url = 'http://localhost/ArcGIS/rest/services/GeocodeIDU/GeocodeServer/findAddressCandidates';
$recaptcha_privkey = 'Your priv key';//Dejar en null para no utilizar re-captcha
$recaptcha_pubkey = 'Your pub key';//Dejar en null para no utilizar re-captcha
$cache_frontend_options = array( # http://framework.zend.com/manual/1.11/en/zend.cache.introduction.html
    'lifetime' => 7200,
    'automatic_serialization' => true
);
$cache_backend_options = array(
    'cache_dir' => '/tmp'
);


/* Create your own implementation */
class myObfuscator
{
    public static function obfuscate($string)
    {
        return $string;
    }
    public static function deobfuscate($string)
    {
        return $string;
    }
}